.temperature::after {
  content: "\00B0"
}

.sunriseTime::before {
  content: "Sunrise: ";
}

.sunsetTime::before {
  content: "Sunset: ";
}

.precipAccumulation::after {
  content: " inches accumulation"
}

.nearestStorm::before {
  content: "Nearest Storm: "
}

.speed::after {
  content: " mph"
}

.bearing::after {
  content: "\00B0"
}

.cloudCover::after {
  content: " cloud cover"
}

.humidity::after {
  content: " relative humidity"
}

.pressure::after {
  content: " mb"
}

.moonPhase::before {
  content: "Moon Phase: "
}

.minutely .minute, .hourly .hour {
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

h2, .minutely, .hourly, .daily {
  clear: both;
}


/* Graphs */
.chart .area {
  position: relative;
  border: solid 1px #ccc;
  border-width: 1px 0;
}

.chart .y-axis {
  border-top: 1px;
  border-bottom: 1px;
  border-color: black;
  border-style: solid none;
  width: 35px;
  position: absolute;
  overflow: hidden;
}

.chart .y-axis .bottom, .chart .y-axis .top {
  position: absolute;
  text-align: right;
  font-size: 12px;
  width: 100%;
}

.chart .y-axis .top {
  top: 0;
}

.chart .y-axis .bottom {
  bottom: 0;
}

.precipitation-chart {
  margin-left: 40px;
}
.precipitation-chart .bar {
  font: 10px sans-serif;
  background-color: #4682B4;
  position: absolute;
  bottom: 0;
}

.temperature-chart canvas {
  border: solid 1px green;
}

/** SVG styling **/

.temperature-chart .line {
  fill: none;
  stroke: #4682B4;
  stroke-width: 2px;
}

.temperature-chart .domain {
  fill: none;
  stroke: black;
}
