<html>
  <head>
    <title>Weather for {{.Latitude}}, {{.Longitude}}</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/application.css" />
    <script type="text/javascript" src="/static/javascripts/d3.js"></script>
    <script type="text/javascript" src="/static/javascripts/application.js"></script>
  </head>
  <body>
    <h1>
      Weather forecast for {{.Latitude}}, {{.Longitude}} as of
      {{FloatAsDateTime .Currently.Time "long"}}
    </h1>
    <h2 class="summary">{{.Currently.Summary}}, {{RoundToInteger .Currently.Temperature}}&deg;</h2>
    <div class="details">
      <div class="icon">{{.Currently.Icon}}</div>
    </div>

    <h2>Hourly</h2>
    <div class="chart precipitation-chart hourly">
      <div class="area"></div>
    </div>
    <script type="text/javascript">
      var hourlyPrecipitationData = [
        {{range .Hourly.Data}}[WILLUS.parseDate("{{FloatAsDateTime .Time "iso8601DateTime"}}"), {{.PrecipIntensity}}, {{.PrecipProbability}}],
        {{end}}
      ];
      var hourlyPrecipitationChart = WILLUS.makePrecipChart(
          '.precipitation-chart.hourly', hourlyPrecipitationData,
          WILLUS.hourlyWidth, WILLUS.hourlyHeight,
          { timeFormat: "%-I%p", xLabelPeriod: 6 }
      );
    </script>

    <h2>Daily</h2>
    <div class="chart temperature-chart daily">
      <div class="area"></div>
    </div>
    <script type="text/javascript">
      var dailyTemperatureData = [
        {{range .Daily.Data}}[WILLUS.parseDate("{{FloatAsDateTime .TemperatureMinTime "iso8601DateTime"}}"), {{.TemperatureMin}}], [WILLUS.parseDate("{{FloatAsDateTime .TemperatureMaxTime "iso8601DateTime"}}"), {{.TemperatureMax}}],
        {{end}}
      ]. /* Sort by timestamp, since sometimes the low for a day is later than the high */
      sort(function(a, b) { return a[0].getTime() - b[0].getTime(); });
      var dailyTempChart = WILLUS.makeTempChart(
          '.temperature-chart.daily', dailyTemperatureData,
          WILLUS.dailyTemperatureWidth, WILLUS.dailyTemperatureHeight
      );
    </script>

    <div class="chart precipitation-chart daily">
      <div class="area"></div>
    </div>
    <script type="text/javascript">
      var dailyPrecipitationData = [
        {{range .Daily.Data}}[WILLUS.parseDate("{{FloatAsDateTime .Time "iso8601DateTime"}}"), {{.PrecipIntensity}}, {{.PrecipProbability}}],
        {{end}}
      ];
      var dailyPrecipitationChart = WILLUS.makePrecipChart(
          '.precipitation-chart.daily', dailyPrecipitationData,
          WILLUS.dailyPrecipitationWidth, WILLUS.dailyPrecipitationHeight
      );
    </script>

    <h2>Minutely</h2>
    <div class="minutely">
      {{range .Minutely.Data}}
        <div class="minute">
          <h3 class="time">{{FloatAsDateTime .Time "shortTime"}}</h3>
          {{template "_datapoint.html.tmpl" .}}
        </div>
      {{end}}
    </div>
    <h2>Hourly</h2>
    <div class="hourly">
      {{range .Hourly.Data}}
        <div class="hour">
          <h3 class="time">{{FloatAsDateTime .Time "shortTime"}}</h3>
          {{template "_datapoint.html.tmpl" .}}
        </div>
      {{end}}
    </div>

    <h2>Daily</h2>
    <div class="daily">
      {{range .Daily.Data}}
        <div class="day">
          <h3 class="time">{{FloatAsDateTime .Time "shortDate"}}</h3>
          {{template "_datapoint.html.tmpl" .}}
        </div>
      {{end}}
    </div>

    {{if .Alerts}}
      <h2>Alerts</h2>
      <div class="alerts">
        {{range .Alerts}}
          {{template "_alert.html.tmpl" .}}
        {{end}}
      </div>
    {{end}}
    <footer>
      <a href="http://forecast.io/">Powered by Forecast</a>
    </footer>
  </body>
</html>
