<html>
  <head>
    <title>Weather for {{.Latitude}}, {{.Longitude}}</title>
  </head>
  <body>
    <h1>
      Weather forecast for {{.Latitude}}, {{.Longitude}} as of
      {{.Currently.Time}}
    </h1>
    <h2 class="summary">{{.Currently.Summary}}, {{.Currently.Temperature}}&deg;</h2>
    <div class="details">
      <div class="icon">{{.Currently.Icon}}</div>
    </div>
    <div class="nearestStormDistance">>{{.Currently.NearestStormDistance}}</div>
    {{if .Currently.NearestStormDistance}}
      <div class="nearestStormBearing">{{.Currently.NearestStormBearing}}</div>
    {{end}}
    <h2>Minutely</h2>
    <div class="minutely">
      {{range .Minutely.Data}}
        <div class="hour>
          <div class="time">{{.Time}}</div>
          <div class="summary">{{.Summary}}</div>
          <div class="icon">{{.Icon}}</div>
          <div class="precipIntensity">{{.PrecipIntensity}}</div>
          <div class="precipProbability">{{.PrecipProbability}}</div>
          {{if .PrecipIntensity}}
            <div class="precipType">{{.PrecipType}}</div>
          {{end}}
          <div class="temperature">{{.Temperature}}</div>
          <div class="apparentTemperature>{{.ApparentTemperature}}</div>
          <div class="windSpeed">{{.WindSpeed}}</div>
          {{if .WindSpeed}}
            <div class="windBearing">{{.WindBearing}}</div>
          {{end}}
          <div class="cloudCover">{{.CloudCover}}</div>
          <div class="humidity">{{.Humidity}}</div>
          <div class="pressure">{{.Pressure}}</div>
        </div>
      {{end}}
    </div>
    <h2>Hourly</h2>
    <div class="hourly">
      {{range .Hourly.Data}}
        <div class="hour>
          <div class="time">{{.Time}}</div>
          <div class="summary">{{.Summary}}</div>
          <div class="icon">{{.Icon}}</div>
          <div class="precipIntensity">{{.PrecipIntensity}}</div>
          <div class="precipProbability">{{.PrecipProbability}}</div>
          {{if .PrecipIntensity}}
            <div class="precipType">{{.PrecipType}}</div>
          {{end}}
          <div class="temperature">{{.Temperature}}</div>
          <div class="apparentTemperature>{{.ApparentTemperature}}</div>
          <div class="windSpeed">{{.WindSpeed}}</div>
          {{if .WindSpeed}}
            <div class="windBearing">{{.WindBearing}}</div>
          {{end}}
          <div class="cloudCover">{{.CloudCover}}</div>
          <div class="humidity">{{.Humidity}}</div>
          <div class="pressure">{{.Pressure}}</div>
        </div>
      {{end}}
    </div>
    <h2>Daily</h2>
    <div class="daily">
      {{range .Daily.Data}}
        <div class="day>
          <div class="time">{{.Time}}</div>
          <div class="summary">{{.Summary}}</div>
          <div class="icon">{{.Icon}}</div>
          <div class="sunriseTime">{{.SunriseTime}}</div>
          <div class="sunsetTime">{{.SunsetTime}}</div>
          <div class="moonPhase">{{.MoonPhase}}</div>
          <div class="precipIntensity">{{.PrecipIntensity}}</div>
          <div class="precipIntensityMax">Peak: {{.PrecipIntensityMax}} at {{.PrecipIntensityMaxTime}}</div>
          <div class="precipProbability">{{.PrecipProbability}}</div>
          {{if .PrecipIntensity}}
            <div class="precipType">{{.PrecipType}}</div>
          {{end}}
          <div class="precipAccumulation">{{.PrecipAccumulation}}</div>
          <div class="temperatureMin">Low: {{.TemperatureMin}} at {{.TemperatureMinTime}}</div>
          <div class="temperatureMax">High: {{.TemperatureMax}} at {{.TemperatureMaxTime}}</div>
          <div class="apparentTemperatureMin">Apparent Low: {{.ApparentTemperatureMin}} at {{.ApparentTemperatureMinTime}}</div>
          <div class="apparentTemperatureMax">Apparent High: {{.ApparentTemperatureMax}} at {{.ApparentTemperatureMaxTime}}</div>
          <div class="windSpeed">{{.WindSpeed}}</div>
          {{if .WindSpeed}}
            <div class="windBearing">{{.WindBearing}}</div>
          {{end}}
          <div class="cloudCover">{{.CloudCover}}</div>
          <div class="humidity">{{.Humidity}}</div>
          <div class="pressure">{{.Pressure}}</div>
        </div>
      {{end}}
    </div>
    {{if .Alerts}}
      <h2>Alerts</h2>
      <div class="alerts">
        {{range .Alerts}}
          <div class="alert">
            <h3>{{.Title}}</h3>
            <div class="expires">{{.Expires}}</div>
            <div class="description">{{.Description}}</div>
            <a href="{{.Uri}}">{{.Uri}}</a>
          </div>
        {{end}}
      </div>
    {{end}}
  </body>
</html>
